.player {
    display: flex;
    width: 100%;
    padding : 0.75em;
    background-color: $dark-green;

    &-image {
        height: 75px;
        width : 75px;
        background-color: #ffffff;
        margin-right: 0.75em;
    }

    &-name {
        color : #ffffff;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.fallen-pieces {
    margin-top: 0.6em;
    margin-left: 0.25em;
    height: 1.1rem;
}