$light-brown : #E3C170; //#b4e4bc;
$dark-brown : #b88b4a; //#74a4a4;
$light-green : #476C37;
$dark-green : #355129;
$black : #000000;
$beige : #EEDAAA;//#EBEBEB;
$off-white : #F7F7F7;
$white : #ffffff;
$success-bg : rgba(92, 184, 92, 0.5);
$success-txt : #255525;
$error-bg : rgba(217, 83, 79, 0.5);
$error-txt : #641916;
$backdrop-color : rbga(255, 255, 255, 0.9);

$phone-breakpoint : 640px;
$tablet-breakpoint : 768px;
$desktop-breakpoint : 1024px;


* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.app {
    height: 99.99vh;
}

.app-container {
    display: grid;
    place-items: center;
    height: 100%;
}

.game-container {
    height: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}


.chess-board-section {
    display: grid;
    place-items: center;
    height: 100%;
}

.side-panel-section {
    height: 100%;
}    

@media (min-width : $tablet-breakpoint) {

    .game-container {
        width: 90%;
        grid-template-columns: repeat(2, auto);
        column-gap: 5vw;     
    }

}


@import 'Board';
@import 'PlayerPanel';
@import 'Login';
@import 'UI';
@import 'SidePanel';



